body{
	background: url('../photos/fundo.png') fixed;
}

header{
	background: url('../photos/fundo.png');
}

.paineis img{
	width: 60%;
	margin: 0 auto;
	display: table;
}

.paineis h1, .paineis h3{
	font-family: Tempus-Sans;
	color: #fff;
	text-align: center;
}

.paineis h2{
	font-family: Stanley Demo;
	color: #19bdb2;
	text-align: center;
}

.bioConvidados{
	text-align: justify !important;
	color: #19bdb2 !important;
	font-size: 18px !important;
}

.camisas2 img{
	margin-top: 2%;
}

.camisas2 p{
	text-align: center !important;
}

.camisas2 a{
	margin: 0 auto;
	display: table;
	margin-bottom: 2%;
}

.paineis p{
	font-family: Tempus-Sans;
	color: #fff;
	text-align: justify;
	font-size: 22px;
}

.box1{
	width: 100% !important;
}

@media screen and (max-width: 767px){
	 #camisaLogo{
		margin-left: 4%;
		margin-top: -25%;
		width: 100%;
	}
	#painelLogo{
		width: 100%;
		margin-top: -22%;
	}
	.artistas{
		display: flex;
		flex-direction: column-reverse;
	}
	#potterish_title{
		margin-top: 6%;
	}
	.box{
		width: 100% !important;
		margin-top: -28% !important;
	}
}