body{
	background: url('../photos/fundo.png') no-repeat fixed;
}

header{
	background: url('../photos/fundo.png');
}

.paineis img{
	width: 60%;
	margin: 0 auto;
	display: table;
}

.paineis h1, .paineis h3{
	font-family: Tempus-Sans;
	color: #fff;
	text-align: center;
}

.camisas2 img{
	margin-top: 2%;
}

.camisas2 p{
	text-align: center !important;
}

.camisas2 a{
	margin: 0 auto;
	display: table;
	margin-bottom: 2%;
}

.paineis p{
	font-family: Tempus-Sans;
	color: #fff;
	text-align: justify;
	font-size: 22px;
}

@media screen and (max-width: 767px){
	 #camisaLogo{
		margin-left: 4%;
		margin-top: -25%;
		width: 100%;
	}
}