
/*Fontes*/

@font-face{font-family: "Wizards Magic";src: url("../fonts/Wizards_Magic.ttf");}
@font-face{font-family: "Stanley Demo";src: url("../fonts/Stanley_DEMO.ttf");}
@font-face{font-family: "AmaticSC-Regular";src: url("../fonts/AmaticSC-Regular.ttf");}
@font-face{font-family: "Amatic-Bold";src: url("../fonts/Amatic-Bold.ttf");}
@font-face{font-family: "Tempus-Sans";src: url("../fonts/tempus-sans-itc-1.otf");}

/* Body */

body{
	overflow-x: hidden;
	background-color: #000617;
}

/*Header*/

html{
	overflow-x: hidden !important;
}

header{
	background: url('photos/fundo.png');
	background-size: 100%;
}

.fantastica{
	display: flex;
	flex-wrap: nowrap;
}

/*Logo*/
#logoIF{
	width: 100%;
	margin-top: -88%;
	margin-left: 10%;
	position: relative;
	z-index: 1000;
}

/*Menu*/

.menu ul{
	display: flex;
	position: relative;
	z-index: 1000;
	margin-top: -6%;
	margin-left: 2%;
	list-style: none;
	flex-wrap: wrap;
	color: #1e2161;
	font-weight: bold;
	font-family: sans-serif;
}
.menu ul li{
	padding-right: 18px;
}

label[for="bt_menu"]{
	font-size: 20px;
	cursor: pointer;
	display: none;
	position: relative;
	z-index: 1000;
}

#bt_menu{
	display: none;
}

.header-left{
	max-width: 45vw;
	width: 19vw;
}

#header-right{
	max-width: 190vw;
	width: 90vw;
}

.header-left, #header-right, .icone{
	position: relative;
	z-index: 1000;
}

.carousel, .slide{
	margin-top: -40px;
	width: 100%;
}

#redes-sociais-mobile{
	display: none;
}

#redes-sociais i{
	padding: 12px;
	color: rgb(0,189,176);
	background-color: #1e2161; 
	border-radius: 22px; 
	margin-top: -8px;
}

/*Boxes*/

.boxes{
	background: url('photos/background21.png') no-repeat 50%;
	padding: 30px 15px;
	align-items: center;
	color: #fff;
	font-size: 1.2em;
}

.boxes a{
	text-decoration: none;
	color: #fff;
}

.flex-contagem{
	display: inline-flex;
	margin: 0 auto;
	display: table;
	align-items: center;
}

.contagem_column{
	flex-direction: column;
	padding: 0 1px;
	line-height: 13px;
	color: #1e2161;
}

.dias_d{
	font-size: 12px;
	color: #1e2161;
}

#descubra{
	font-family: Stanley Demo;
}

.img-reponsive{
	width: 100%;
}

.programacao img{
	margin-top: 18px;
}
.programacao-container{
	background-color: #000617;
}

footer{
	background: url('photos/footer.png') no-repeat;
}

.patrocinadores{
	margin-top: 4%;
	padding-top: 5%;
	color: #1e2161;
}

.patrocinadores img{
	padding-top: 8%;
}

.patrocinadores h3{
	text-align: left;
}

.patro img{
	width: 150px;
	padding-left: 20px;
	display: block;
}

.patro, .apoio{
	border-right: 2px solid #1e2161;
}

#logoBou{
	width: 180px;
}

.apoio img{
	width: 80px !important;
	padding: 8px;
}

.organizador img{
	width: 200px;
}

.producao{
	margin: 8px auto;
	display: table;
	color: #1e2161;
}

#conectat-logo{
	margin: 0 auto;
	display: table;
}

@media screen and (max-width: 840px){
	
	body{
		overflow-x: hidden;
	}
		
	.header-left{
		width: 40vw;
	}

	#header-right{
		width: 190vw;
	}

	#logoIF{
		margin-top: -104%;
	}
}
@media screen and (min-width: 841px) and (max-width: 991px){
	
	body{
		overflow-x: hidden;
	}
	
	.header-left{
		width: 35vw;
	}

	#header-right{
		width: 190vw;
	}
}

@media screen and (min-width: 992px) and (max-width: 1186px){
	#redes-sociais{
		margin-left: 72%;
		margin-top: 2%;
	}
}

@media screen and (max-width: 991px){
	.menu ul{
		margin-top: -40%;
		width: 77vw;
	}
	.menu ul li{
		padding-bottom: 2%;
	}

	body{
		overflow-x: hidden;
	}
}

@media screen and (max-width: 767px){
	label[for="bt_menu"]{
		display: block;
		margin-top: -20%;
		margin-left: 75%;
	}

	.menu{
		margin-left: -200%;
		transition: all .4s;
	}

	#bt_menu:checked ~ .menu{
		margin-left: 0;
	}

	.menu ul{
		flex-flow: column wrap;
		margin-top: 4%;
		color: #1e2161;
		text-align: justify;
		background-color: rgba(0,189,176,0.8);
	}
	.menu ul li{
		flex:1;
	}

	.hidden-ping{
		display: none;
	}

	.carousel, .slide{
		margin-top: -171px;
	}	 
	body{
		overflow-x: hidden;
	}

	#redes-sociais i{
		display: none;
	}

	#descubra{
		display: none;
	}

	.boxes{
		background: url('photos/background2.png') no-repeat 20%;
	}

	.patrocinadores h3{
		text-align: center;
	}

	.patro img{
		display: inline;
	}
	.apoio{
		margin: 0 auto;
		display: table;
		margin-top: 18px; 
	}
	.organizador img{
		margin: 0 auto;
		display: table;
	}
	.apoio img{
		margin-left: 18px;
	}
	#logoBou{
		width: 150px;
	}
	.patro, .apoio{
		border: none;
	}
}

@media screen and (min-width: 576px) and (max-width: 840px){
	.header-left{
		width: 35vw !important;
	} 
	body{
		overflow-x: hidden;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px){
	#redes-sociais-mobile{
		margin-top: -28px;
		margin-left: 18%;
		display: block;
	}

	#redes-sociais-mobile i{
		padding: 8px;
		color: #1e2161;
		font-size: 30px;
	}

	.carousel, .slide{
		margin-top: -201px;
	}	 
}

@media screen and (max-width: 330px){
	.carousel, .slide{
		margin-top: -194px;
	}	 
	body{
		overflow-x: hidden;
	}

	#logoIF{
		margin-top: -107%;
		margin-left: 19%;
	}
}

@media screen and (max-width: 575px){
	#redes-sociais-mobile{
		margin-top: -35px;
		margin-left: 18%;
		display: block;
	}

	#redes-sociais-mobile i{
		padding: 5px;
		background-color: #1e2161;
		color: rgb(0,189,176);
		border-radius: 18px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.boxes{
		margin-top: -15px;
	}
}

@media screen and (min-width: 1300px){
	.boxes{
		background-color: #19bdb2;
	}
}

@media screen and (min-width: 1910px){
	footer{
		background-color: #19bdb2;
	}
}