
/*Header*/

html{
	overflow-x: hidden !important;
}

header{
	background: url('photos/fundo.png');
	background-size: 100%;
}

.nav-fantastica{
	display: flex;
	flex-wrap: nowrap;
}

.header-left{
	max-width: 45vw;
	width: 19vw;
}

#header-right{
	max-width: 190vw;
	width: 90vw;
}

.header-left, #header-right{
	position: relative;
	z-index: 1000;
}

.carousel, .slide{
	margin-top: -30px;
	width: 100%;
}

@media screen and (max-width: 840px){
	
	body{
		overflow-x: hidden;
	}
	
	.header-left{
		width: 40vw;
	}

	#header-right{
		width: 190vw;
	}
}

@media screen and (min-width: 576px) and (max-width: 840px){
	.header-left{
		width: 35vw !important;
	}
}